<div class="container">
  <form class="pass-form" #form="ngForm" (ngSubmit)="changePassword(form)">
    <h1>Change password</h1>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Your new password..."
      ngModel
      #password="ngModel"
      required
      minlength="4"
    />
    <label for="repeatPassword">Repeat password</label>
    <input
      type="password"
      name="repeatPassword"
      id="repeatPassword"
      placeholder="Repeat your new password..."
      ngModel
      #repeatPassword="ngModel"
      required
      minlength="4"
    />
    <ng-container *ngIf="password.touched">
      <p class="error" *ngIf="password.value != repeatPassword.value">
        Password and repeat password must be identical!
      </p>
      <p class="error" *ngIf="password.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="!!password.errors?.['minlength']">
        Password must be a least 4 characters!
      </p>
    </ng-container>
    <app-err-message />
    <app-button
      [text]="'Change'"
      [type]="'submit'"
      (newEvent)="changePassword(form)"
    />
  </form>
</div>
